@mixin inputBox{
        font-size: 18px;
        background-color: transparent;
        padding: 8px 12px;
        box-shadow: -4px -4px 10px rgba(255,255,255,1),
                    inset 4px 4px 10px rgba(0,0,0,0.05),
                    inset -4px -4px 10px rgba(255,255,255,1),
                    4px 4px 10px rgba(0,0,0,0.05);
    
}

@mixin button($backgroundColor){
        padding: 6px 16px;
        border-radius: 3px;
        background-color: $backgroundColor;
        
}