$primary-background-dark:#191C28;
$secondary-background-dark:#222839;
$primary-text-dark:rgb(240, 235, 235);
$secondary-text-dark:#858EA1;

$primary-background-light:#F8FAFB;
$secondary-background-light:white;
$primary-text-light:#1f1f1f;
$secondary-text-light:#858EA1;


$tertiary-background-dark:#434C5E;
$tertiary-text-dark:#ECEFF4;

