.dashboard-content {
  padding: 2rem 8rem;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--secondary-background-color);
  color: var(--primary-font-color);
}

button {
  cursor: pointer;
  background-color: var(--button-background-color);
  &:hover {
    background-color: var(--button-background-hover);
  }
}

.not-available {
  p {
    margin-top: 1rem;
  }
}

.context-menu {
  padding: 0;
  li {
    padding: 6px 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--button-background-color);
      color: var(--opposite-font-color);
    }
  }
}

.class-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.subtitle {
  color: var(--tertiary-font-color);
  font-size: 14px;
  font-style: italic;
}

ul {
  list-style-type: none;
}
.form-input {
  padding: 8px;
  display: flex;
  flex-direction: column;
  margin: 8px 0;

  label {
    margin-bottom: 8px;
  }

  button,
  svg {
    cursor: pointer;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  select textarea {
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 3px;
    border: 1px solid var(--primary-border-color);
    background-color: transparent;
    color: var(--primary-font-color);

    &:focus {
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.31) 0px 0px 1px;
    }
  }

  select {
    padding: 6px;
  }
}
.modal-background-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 6rem;

  .modal-content-wrapper {
    background-color: var(--secondary-background-color);
    color: var(--primary-font-color);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    min-width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .modal-body {
      margin: 2rem 0;

      p.content-text {
        margin-top: 1rem;
        margin-bottom: 8px;
        line-height: 24px;
      }

      .form-input {
        margin-bottom: 2rem;
      }
    }

    .modal-footer {
      max-height: 20%;
      margin-top: auto;
      button {
        &:first-child {
          @include primaryButton;
          margin-right: 1rem;
          margin-top: 1rem;
        }

        &:nth-child(2) {
          @include tertiaryButton;
        }
      }
    }
  }
}

.vm--modal.vue-dialog {
  background-color: var(--secondary-background-color);

  .vue-dialog-buttons {
    border: none;

    button {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.tooltip {
  &.info {
    .tooltip-inner {
      background: #006aac;
      color: white;
      padding: 8px 12px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }

    .tooltip-arrow {
      border-color: #006aac;
    }
  }
}

.submit-assignment-modal {
  .reject-modal-user-detail {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
  .form-buttons {
    button {
      &:first-child {
        @include primaryButton;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: var(--button-background-hover);
        }
      }

      &:nth-child(2) {
        @include tertiaryButton;
        margin-left: 1rem;
      }
    }
  }
}
