@import '_base';

  #dashboard{
    padding: 1.5rem 3rem;
  }

  .search-classes {
    margin-bottom: 1rem;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input{
      font-size: 14px;
      padding: 6px 8px;
      border-radius: 3px;
      background-color:$secondary-background-dark;
      color: white;
      border: none;
    }

    input{
      width: 80%;
    }
  }

 