@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import './common.scss';
@import './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: var(--primary-font-color);
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primary-border-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-border-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.context-menu {
  padding: 0;
  li {
    padding: 6px 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--button-background-color);
      color: var(--opposite-font-color);
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.5s ease-in-out;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(20px);
  opacity: 0;
}
