@import '_base';
@import './mixins/mixin.scss';

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary-background-light;
    color:$primary-text-light;
    transition: all 0.4s ease-in-out;
    font-family: "Chivo", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}
p{
    line-height:26px;
}
h1,h2,h3,h4,h5,h6{
    font-family:"Asul";
}
.activeLink{
    background-color: lightgray;
}
a{
    text-decoration: none;
    color: $primary-text-light;
}
ul{
    list-style-type: none;
}
button{
    cursor: pointer;
    font-family: "Chivo", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.container{
    padding: 1rem 6rem;
}

// basic nuxt route transition
.page-enter-active, .page-leave-active{
    transition: all 0.3s ease-in;
}

.page-enter,.page-leave-active{
    opacity: 0;
}

@import './darktheme.scss';
@import './sidebar.scss';
@import './dashboard.scss';
@import './classcard.scss';
@import './getstarted.scss';
@import './classroom.scss';
@import './whiteboard.scss';