@import '_base';
@import './mixins/mixin.scss';

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary-background-light;
    color:$primary-text-light;
    transition: all 0.4s ease-in-out;
    font-family: "Chivo", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}
p{
    line-height:26px;
}
h1,h2,h3,h4,h5,h6{
    font-family:"Asul";
}
.activeLink{
    background-color: lightgray;
}
a{
    text-decoration: none;
    color: $primary-text-light;
}
ul{
    list-style-type: none;
}
button{
    cursor: pointer;
    font-family: "Chivo", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.container{
    padding: 1rem 6rem;
}

// basic nuxt route transition
.page-enter-active, .page-leave-active{
    transition: all 0.3s ease-in;
}

.page-enter,.page-leave-active{
    opacity: 0;
}

body[theme='dark']{
    background-color: $primary-background-dark;
    color:$primary-text-dark;

    #sidebar{
        background-color: $secondary-background-dark;
        // box-shadow: 0 2px 10px rgba(0,0,0,.2);
        box-shadow: -3px -3px 3px rgba(255,255,255,0.05),
                    3px 3px 3px rgba(0,0,0,0.1);

        .sidebar-menu{
            li{
                // background-color: $primary-background-dark;
                // border-radius: 5px;
                // box-shadow: -3px -3px 3px rgba(255,255,255,0.05),
                //             3px 3px 3px rgba(0,0,0,0.1);

                .nuxt-link-exact-active,
                .nuxt-link-active {
                    // padding: 8px 12px;
                    background-color: $primary-background-dark;
                    border-radius: 5px;
                    box-shadow: -3px -3px 3px rgba(255,255,255,0.05),
                    3px 3px 3px rgba(0,0,0,0.1);
                }

                &:hover svg{
                    fill: #008ECC;
                    text-shadow: 0 0 15px #008ECC;
                }
                
                svg{
                    fill: $primary-background-light;
                }

            }

           
        }
    }
    .get-started-wrapper{
        color: $primary-text-dark;
    }
    .get-started-right{
        background-color: $secondary-background-dark;
    }
    .form-container{
        background-color: $primary-background-dark;
        box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.36);
    }
    .form-input input{
        @include inputBox($secondary-background-dark,$primary-text-dark);
    }
    .form-actions button{
        background-color:$secondary-background-dark ;
    }

}




// NOTE  Sidebar
#sidebar{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  padding: 16px 20px;
  background-color: $secondary-background-light;
  margin-right: 4rem;
  box-shadow: -1px -1px 1px rgba(255,255,255,0.05),
                    3px 3px 3px rgba(0,0,0,0.08);

    .nuxt-link-exact-active svg,
    .nuxt-link-active svg {
    fill: white;
    /* fill: blue; */
    }
    .nuxt-link-active,
    .nuxt-link-exact-active {
    border-radius: 3px;
    background-color: #191c28;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08),
        -6px -6px 12px rgba(255, 255, 255, 1);
    padding: 8px 12px;
    }
}



.sidebar-menu{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;



    li{
        margin-bottom: 1rem;
        padding: 8px 12px;
        
        &:last-child{
            margin-top: auto;
            cursor: pointer;
            display: flex;
            justify-content: center;
        }

        &:hover svg{
            fill: #008ECC;
            text-shadow: 0 0 15px #008ECC;
        }

        svg{
            width:18px;
            height:18px;
            fill:$secondary-background-dark;
            transition: all 0.15s linear;
        }

        a{
            padding: 8px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}
.user-account {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-account img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}








// NOTE Get Started Page


.get-started-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .get-started-form-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .get-started-left {
    width: 40%;
    height: 100%;
    background-color: #191c28;
    padding: 3rem;
    color: white;
    position: relative;

    h2{
        text-align: left;
    }

    .get-started-intro{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        // width: 100%;
        text-align: center;
        
        h3{
            font-size: 36px;
            
        }
        p{
            font-size: 18px;
        }

        .get-started-nav {
            display: flex;
            align-items: center;
            // justify-content: space-around;
            margin-top: 2rem;
          }
          .get-started-nav a {
            margin: 0 auto;
            margin-right: 1rem;
            text-decoration: none;
            color: $primary-background-light;
            border: 1px solid $secondary-background-dark;
            border-radius: 3px;
            padding: 6px 10px;

            &.nuxt-link-exact-active,
            &.nuxt-link-active {
                border: 1px solid $primary-text-dark;
            }
          }
    }
  }
  .get-started-right {
    width: 60%;
    height: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $primary-background-light;
  }


//   Signup/Register & Login Form
.form-container {
    width: 70%;
    padding: 2rem;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
    
    
  }
  .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .form-input input {
      @include inputBox($secondary-background-light,$primary-text-light);
    border: 1px solid $primary-text-dark;
    margin-top: 8px;
  }
  .form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-actions button {
      @include button(#191c28,white); //backgroundColor,color
  }
  