// @import'./darktheme.scss';

// NOTE  Sidebar
#sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  padding: 16px 10px;
  z-index: 20;
  background-color: var(--secondary-background-color);
  // background-color: $secondary-background-light;
  margin-right: 4rem;
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.05),
    3px 3px 3px rgba(0, 0, 0, 0.08);
  transition: width 0.3s linear;

  &:hover {
    width: 15rem;

    .user-account {
      margin-left: 1rem;
      transition: all 0.5s;

      h3 {
        display: block;
        margin-left: 8px;
        font-size: 20px;
      }
    }

    .sidebar-menu {
      align-items: flex-start;

      p {
        display: block;
        margin-left: 1rem;
        color: var(--primary-font-color);
      }

      li {
        justify-content: flex-start;

        .settings-menu {
          margin-left: 12px;
        }

        &.theme-toggle-menu {
          margin-left: 12px;
        }
      }
    }
  }

  .nuxt-link-exact-active svg,
  .nuxt-link-active svg {
    fill: var(--primary-font-color);
    /* fill: blue; */
  }
  .nuxt-link-active,
  .nuxt-link-exact-active {
    border-radius: 3px;
    background-color: var(--primary-background-color);
    fill: var(--primary-background-color);
    box-shadow: 1px 1px 5px 5px var(--secondary-background-color);
    //   box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08),
    //       -6px -6px 12px rgba(255, 255, 255, 1);
    padding: 8px 12px;
  }
}

.sidebar-menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  li {
    margin-bottom: 1rem;
    padding: 8px 12px;
    width: 100%;
    display: flex;
    justify-content: center;

    &:last-child {
      margin-top: auto;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }

    &:hover svg {
      fill: #008ecc;
      text-shadow: 0 0 15px #008ecc;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: var(--primary-font-color);
      transition: all 0.15s linear;
    }

    a {
      padding: 8px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      display: none;
    }
  }
}
.user-account {
  overflow: hidden;
  display: flex;
  align-items: center;

  h3 {
    display: none;
    color: var(--primary-font-color);
  }
}
.user-account img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.my-classes {
  position: relative;

  &:hover .my-class-sub-menu {
    display: block;
    left: 8rem;
  }
}
.my-class-sub-menu {
  position: absolute;
  top: -8px;
  left: 4rem;
  z-index: 30;
  // background: var(--primary-background-color);
  display: none;

  &:hover {
    display: block;
  }

  a {
    background-color: var(--secondary-background-color);
    color: var(--primary-font-color);

    &:first-child {
      margin-bottom: 4px;
    }
  }
}
